<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit a notice</title>
</head>
<body>
    <div class="home_btn">
    <a href="/notices">Home</a>        
    </div>
    <div class="outer_box">
        <form class="edit_box" action="/notices/<%=data.id%>?_method=PUT" method="post">
            <div>
                <input type="text" name="title" id="title" value="<%= data.title %>" placeholder="Title" required>
            </div>
            <div>
                <textarea name="description" cols="30" rows="10" placeholder="Description" required><%=data.description%></textarea>
            </div>
            <div>
                <input type="text" name="author" id="author" value="<%= data.author %>" placeholder="Author" required>
            </div>
            <button>Submit</button>
        </form>        
    </div>

</body>
</html>