<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notices</title>
</head>
<body>
    <H1>Notices</H1>
    <% for(let e of notices) { %>
        <ul>
            <li><%= e.title %></li>
            <li><%= e.description %></li>
            <li><%= e.author %></li>
            <li><%= e.important %></li>
        </ul>
    <% } %>
    <a href="notices/new">New notices</a>
</body>
</html>