<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <a href="/notices">Home</a>
    <form action="/notices" method="post" >
        <div>
          <input type="text" name="title" placeholder="title" required>
        </div>
        <div>
            <textarea name="description" placeholder="discription" rows="15" cols="40" required></textarea>
        </div>
        <div>
            <input type="text" name="author" placeholder="name" required>
        </div>
       <div>
            <input type="checkbox" id="important" name="important">
            <label for="important">Important</label>
       </div>       
        <button>Submit</button>
    </form>
</body>
</html>