<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New</title>
</head>
<body>
    <div class="home_btn">
        <a href="/notices">Home</a>        
    </div>
    <div class="outer_box">
        <form action="/notices" method="post" class="edit_box">
            <div>
            <input type="text" name="title" placeholder="Title" required>
            </div>
            <div>
                <textarea name="description" placeholder="Description" rows="15" cols="40" required></textarea>
            </div>
            <div>
                <input type="text" name="author" placeholder="Author" required>
            </div>
            <div class="important">
                <label for="important">Important</label>
                <input type="checkbox" class="check" id="important" name="important">
            </div>       
            <button>Submit</button>
        </form>        
    </div>

</body>
</html>